[Desktop Entry]
Type=Application
Name=AutoTuner GUI
Comment=Startet den AutoTuner Launcher
Exec="/home/sebas/GitHub/Auto Tuner/autotuner_gui.sh"
Icon=/home/sebas/GitHub/Auto Tuner/icon.png
Terminal=false
Categories=Development;
